* {
	margin: 0;
	padding: 0;
	font-family: metamorphous;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@font-face {
    font-family: metamorphous;
    src: url(font/metamorphous/metamorphous.ttf);
}

#game {
	position: relative;
	width: 1080px;
	height: 720px;
	overflow: hidden;
	border: 3px solid black;
	box-sizing: border-box;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/*PROFILE*/
	#profile {
		position: absolute;
		height: 100%;
		width: 300px;
		left: auto;
		top: 0;
		right: 0;
		z-index: 10;
	}

	.slider {
		position: relative;
		background-color: lightblue;
		box-sizing: border-box;
		float: left;
	}

	.slider.horizontal {
		border-right: 2px solid blue;
		top: 0;
		left: 0;
		width: 20px;
		height: 100%;
	}

	.slider.horizontal > i {
		position: absolute;
		height: 30px;
		line-height: 30px;
		top: calc(50% - 15px);
		text-align: center;
		width: 100%;
	}

	.slider.vertical {
		border-top: 2px solid blue;
		top: calc(100% - 20px);
		left: 0;
		width: 100%;
		height: 20px;
		float: left;
	}

	.slider.vertical > i {
		position: absolute;
		height: 20px;
		line-height: 20px;
		top: calc(50% - 10px);
		text-align: center;
		width: 100%;
	}

	#profilePanel {
		float: left;
		display: table;
		height: 100%;
		width: calc(100% - 20px);
	}

	#charScreen {
		height: 250px;
		background-color: red;
	}

	#inventoryWrapper {
		display: table-row;
		height: 100%;
	}

	#inventory {
		height: 100%;
		position: relative;
		background-color: lightblue;
		overflow-y: scroll;
		overflow-x: hidden;
		padding-left: 5px;
		padding-bottom: 4px;
	}

	#inventory:empty::after{
		position: relative;
		margin: 10px;
		top: 10px;
		font-family: metamorphous;
		font-size: 15px;
		text-align: center;
  		content: "Empty Inventory";
	}

	.item {
		border-radius: 10px;
		margin-left: 4px;
		margin-top: 4px;
		width: 50px;
		height: 50px;
		padding: 5px; 
		float: left;
		z-index: 90;
	}

	.itemName {
		font-size: 8px;
		height: 100%;
		width: 100%;
		display: table;
	}

	.itemName p {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.itemDamage, .itemValue, .itemLevel, .itemFavorite {
		width: 100px;
		height: 35px;
		float: left;
		margin-left: 20px;
	}

	.itemSell, .itemEquip {
		width: 90px;
		height: 20px;
		margin-left: 20px;
	}

	.itemDetails {
		position: relative;
		top: 0px;
		left: -85px;
		display: none;
		width: 240px;
		height: 100px;
	}

/*QUEST*/
	#questScreen, #levelSelect {
		height: 250px;
		overflow: hidden;
	}

	.level {
		background-color: orange;
		height: 40px;
	}

	.levelName {
		float: left;
		margin-right: 10px;
	}

	#background {
		position: absolute;
		width: 800px;
		height: 50px;
		top: 100px;
		background-repeat: repeat-x;
		background-image: url("Images/Background.png");
	}

	#enemyIcon {
		position: absolute;
		right: 0;
		top: 80px;
	}

	#playerIcon {
		position: absolute;
		left: 0;
		top: 80px;
	}

	#player {
		position: absolute;
		top: 150px;
		left: 20px;
	}

	#enemy {
		position: absolute;
		top: 150px;
		right: 20px;
	}

/*RARITY*/
	.weak {
		color: white;
		background-color: rgb(128, 128, 128);
	}

	.weak > .details {
		background-color: rgba(128, 128, 128, 0.9);
	}

	.standard {
		color: white;
		background-color: rgb(0, 170, 76);
	}
	
	.standard > .details {
		background-color: rgba(0, 170, 76, 0.9);
	}

	.rare {
		color: white;
		background-color: rgb(0, 140, 192);
	}
	
	.rare > .details {
		background-color: rgba(0, 140, 192, 0.9);
	}

	.special {
		color: white;
		background-color: rgb(172, 0, 230);
	}
	
	.special > .details {
		background-color: rgba(172, 0, 230, 0.9);
	}

	.legendary {
		color: white;
		background-color: rgb(219, 158, 28);
	}
	
	.legendary > .details {
		background-color: rgba(219, 158, 28, 0.9);
	}
/*END*/