#mainView {
	top: 0;
	left: calc(50% - 400px);
	width: 800px;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

#questScreen, #levelSelect {
	height: 250px;
	overflow: hidden;
}

.level {
	background-color: orange;
	height: 40px;
}

.levelName {
	float: left;
	margin-right: 10px;
}

#background {
	position: absolute;
	width: 800px;
	height: 50px;
	top: 100px;
	background-repeat: repeat-x;
	background-image: url("Images/Background.png");
}

#enemyIcon {
	position: absolute;
	right: 0;
	top: 80px;
}

#playerIcon {
	position: absolute;
	left: 0;
	top: 80px;
}

#player {
	position: absolute;
	top: 150px;
	left: 20px;
}

#enemy {
	position: absolute;
	top: 150px;
	right: 20px;
}

/*Inventory*/
#inventory { list-style-type: none; margin: 0; padding: 0; width: 450px; }

.item {
	margin: 2px;
	font-size: 1em;
	text-align: center;
	width: 80px;
	height: 80px;
	padding: 5px; 
	float: left;
}
.itemName {
	height: 70px;
	vertical-align: middle;
}

.itemDamage, .itemValue, .itemLevel, .itemFavorite {
	width: 100px;
	height: 35px;
	float: left;
	margin-left: 20px;
}

.itemSell, .itemEquip {
	width: 90px;
	height: 20px;
	margin-left: 20px;
}

.details {
	position: relative;
	top: 0px;
	display: none;
	width: 240px;
	height: 100px;
	background-color: inherit;
}

.Weak {
	color: grey;
	background-color: darkgrey;
}

.Standard {
	color: white;
	background-color: darkgreen;
}

.Rare {
	color: white;
	background-color: darkblue;
}

.Special {
	background-color: purple;
}

.Legendary {
	color: yellow;
	background-color: orange;
}